body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .mapContainer {
  width: 40%;
  padding-top: 2em; 
  padding-left: 2em;
  background-color: lightblue;
}

.quakeContainer {
  width: 40%;
  padding-top: 2em; 
  padding-right: 2em;
  background-color: pink;
}
*/
#map {
  height: 100%;
} 

.buttonContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  height: 45vh;
  background-color: lightblue;
  margin-bottom: 10px;
}
.quakeContainer {
  padding: 10px;
  height: 40%;
  background-color: lavender;
}